<div class="container mt-4">
  <div class='form-event'>
    <%= simple_form_for @event, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select,
    # select:        :horizontal_select
  } do |f| %>
      <%= f.input :name, placeholder: "Mel's bachelorette party" %>
      <%= f.input :number_of_guests, label: "No. of guests", input_html: { min: 1 }, input_html: { placeholder: "10" } %>
      <%= f.input :location, collection: ['Amsterdam', 'Paris', 'Ibiza', 'Brussels'], input_html: { placeholder: "Amsterdam" } %>
      <div class="row form-group">
        <div class="col-3 mx-0">
          <%= f.label :start_date, label: "Date"%>
        </div>
        <div class="col-9 mx-0 d-flex">
          <%= f.input_field :start_date, as: :string, placeholder: "1-10-2021", class: 'form-control' %>
          <%= f.input_field :end_date, as: :string, label: false, placeholder: "3-10-2021", class: 'form-control' %>
        </div>
      </div>
      <%= f.input :budget_per_person, label: "Budget pp.", input_html: { min: 1, placeholder: '€200' } %>
      <div class="row form-group">
        <div class="col-3 d-flex align-items-center">
          <%= f.label :gender %>
        </div>
        <div class="col-9">
          <%= f.input_field :gender, as: :radio_buttons, collection: ['Women', "Mixed", 'Men'], wrapper: :horizontal_collection_inline, wrapper_html: { class: "d-flex justify-content-between" } %>
        </div>
      </div>
      <div class="row form-group pt-2">
        <div class="col-3 d-flex align-items-center">
          <%= f.label :theme %>
        </div>
        <div class="col-9">
          <%= f.input_field :theme, as: :radio_buttons, collection: ['Wild', 'Nature', "Fancy", 'Cozy'], wrapper: :horizontal_collection_inline, wrapper_html: { class: "d-flex justify-content-between" } %>
        </div>
      </div>
      <div class="row form-group d-flex justify-content-center py-5">
        <%= f.submit class: "btn-red" %>
      </div>
    <% end %>
  </div>
</div>
