<div class="event-summary">
  <p><strong>Gender</strong> <i class="fas fa-female"></i><i class="fas fa-male"></i></p>
  <p><%= @event.gender %></p>
  <hr>
  <p><strong>Mood</strong> <i class="fas fa-glass-cheers"></i></p>
  <p><%= @event.theme %></p>
  <hr>
  <p></i> <strong>Date</strong> <i class="far fa-calendar-alt"></i></p>
  <p><%= @event.start_date.strftime("%e %B %Y") %> - <%= @event.end_date.strftime("%e %B %Y") %></p>
  <hr>
  <p></i> <strong>Budget per person</strong> <i class="fas fa-money-bill"></i></p>
  <p>€<%= @event.budget_per_person %></p>
  <hr>
  <p> <strong>Number of guests</strong> <i class="fas fa-users"></i></p>
  <p><%= @event.number_of_guests %></p>
</div>
