<%= render 'change_mood', event: @event %>

<div class="reco-background">
  <div class="row mb-3 pt-3">
    <div class="col container-card">
      <h2 class="text-center">Our recommandation for <strong><%=@event.name %></strong> <i class="fas fa-hand-holding-heart"></i></i></i></h2>
        <div class="row align-items-center pt-2">
          <div class="col-6">
            <p class="text-right"> <em> Details of your event : </em><br>
          </div>
          <div class="col-6">
            <i class="fas fa-glass-cheers" id="red-icon"></i> <%=@event.theme%> mood <br>
            <i class="far fa-calendar-alt"></i> <%=@event.start_date%> to <%=@event.end_date%> <br>
            <i class="fas fa-money-bill"></i> <%=@event.budget_per_person%> €/person <br>
            <i class="fas fa-users"></i> <%=@event.number_of_guests %> <br></p>
          </div>
        </div>
    </div>
  </div>

  <div class="row container-card pt-2" id="recommendation-card">
    <%= render 'recommendation', recommendation: @recommendation %>
  </div>

  <div class="container-card row mt-3 p-4 text-center">
    <div class="col-md-4 p-4" data-controller="reload-recommendations" data-event-id="<%= @event.id %>">
      <%= link_to "SURPRISE AGAIN", '#', class: "btn-red btn-border-drawing", data: { action: "click->reload-recommendations#reloadRecommendation" } %>
    </div>

    <div class="col-md-4 p-4">
      <a class="btn-red" data-toggle="modal" data-target="#changeMoodModal">CHANGE MOOD</a>
    </div>

    <div class="col-md-4 p-4">
      <%= link_to 'I LOVE IT', confirm_recommendation_path(@event), method: :patch, class: "btn-blue" %>
    </div>
    </div>
  </div>
</div>
