<div class="text-center"><p>Gender: <%= @event.gender %></p>
<p>Theme: <%= @event.theme %></p>
<p>Start date: <%= @event.start_date %></p>
<p>End date: <%= @event.end_date %></p>
<p>Budget per person: <%= @event.budget_per_person %></p>
<p>Number of guests: <%= @event.number_of_guests %></p>
</div>
<%= render 'recommendation' %>