<!-- Button trigger modal -->
<a type="button" class="btn-blue my-1" data-toggle="modal" data-target="#staticBackdrop">
  Add planning event
</a>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Event:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='form-event-new'>
          <%= simple_form_for [ @event, @new_planning ] do |f| %>
            <%= f.input :name, as: :string %>
            <%= f.input :start_time, as: :string %>
            <%= f.input :end_time, as: :string %>
            <hr>
            <%= f.button :submit, class:"btn-blue" %>
            <a type="button" class="btn-red" data-dismiss="modal">Close</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
