<div class="d-flex">
  <div class="eventchatroom">
    <div id="messages" data-current-user-id="<%= current_user.id %>" data-event-id="<%= @event.id %>">
      <% @event.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <%# <div class="simple-form-form"> %>
    <%= simple_form_for [ @event, @message ], remote: true do |f| %>
      <%# <div class="simple-form-input"> %>
      <%= f.input :content, label: false, placeholder: "Type a message" %>
      <%# </div> %>
      <%# <div class="simple-form-submit"> %>
      <%= f.submit "Send", :class => "btn-gradient chatbox-submit" %>
      <%# </div> %>
    <% end %>
    <%# </div> %>
  </div>
</div>
