<h1 class="text-center"> <%= current_user.first_name  %> 's Dashboard</h1>
<div class="containers">
  <div class="row">
    <div class="col-4 m-1 p-2" style="background-color:grey">
      <br>
      <div class="row d-flex justify-content-center mt-1" style="background-color:white">
        <h3 class="text-center"> Summary Card</h3>
        <br>
        <br>
        <br>
      </div>
      <br>
      <div class="row d-flex justify-content-center mt-1" style="background-color:white">
        <h3> Attendencies</h3>
        <br>
        <br>
        <br>
      </div>
      <br>
      <div class="row d-flex justify-content-center" style="background-color:white">
        <h3 class="text-center"> Chat</h3>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="col-7" style="background-color:grey">
      <%= calendar(start_date: @event.start_date.to_s, number_of_days: @number_of_day, events: @plannings, new_planning: @new_planning) do |date, plannings| %>
        <%= date %>
        <% plannings.each do |planning| %>
          <div class="planning">
            <p><%= planning.name %></p>
            <small><%= planning.time unless planning.multi_days? %></small>
          </div>
        <% end %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
