<!DOCTYPE html>
<html>
  <head>
    <title>Organize Your Bachelor(ette) Party</title>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('fav.png') %>
  </head>
  <% if params[:controller] == 'events' && params[:action] == 'choose_recommendation' %>
    <body class="show-body">
  <% elsif params[:controller] == 'events' && (params[:action] == 'new' || params[:action] == 'edit') %>
    <body class="form-event-bg">

  <% elsif params[:controller] == 'events' && (params[:action] == 'summary') %>
    <body class="review-body">

  <% elsif params[:controller] == 'events' && (params[:action] == 'invite') %>
    <body class="invite-body">

   <% elsif params[:controller] == 'dashboards' && (params[:action] == 'show') %>
    <body class="dash-body">

  <% else %>
    <body>
  <% end %>
  <%# <body class="<%= 'show-body' if params[:controller] == 'events' && params[:action] == 'choose_recommendation' %>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbarsecond' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <% if current_page?(root_path) %>
       <%= yield %>
      <% else %>
    <div class='main-container'>
      <%= yield %>
    </div>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
